@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --white: rgb(255, 255, 255);
    --red: rgb(255, 14, 14);
    --blur: 8px;
    --grey: rgb(211, 211, 211);
}


html {
    scroll-behavior: smooth;
}



main {
    width: 100%;
    margin: auto;
    background-color: rgb(240, 240, 240);
}

main p {
    font-size: 1.3em;
}

#header,
.section {
    scroll-margin-top: 30px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    color: var(--white);
    transition: 1s;
    background-color: #ffffff00;
    color: white;
    height: 65px;
}

header nav {
    margin: auto;
    text-align: center;
    width: 80%;
    text-transform: uppercase;
}

header nav li {
    display: inline;
    list-style: none;
    margin: auto 5%;
    padding: 0 20px;
    font-size: smaller;
    font-weight: 400;
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 100;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    background-color: var(--red)
}


a:hover:after {
    width: 100%
}

.fullScreenBanner a:hover:after {
    width: 0;
}

#logo {
    height: 70px;
    margin: 5px;
}

#logo img {
    height: 100%;
    width: auto;
}

.fullScreenBanner {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.fullScreenBanner img.background {
    width: 100%;
    filter: blur(var(--blur)) brightness(90%);
    -webkit-filter: blur(var(--blur)) brightness(90%);
    transform: scale(1.1);
}

.fullScreenBanner .content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
}

.fullScreenBanner img.logo {
    width: 300px;
}

.fullScreenBanner h1 {
    font-size: 6em;
    padding: 0;
    margin: 40px;
    letter-spacing: 1px;
    font-weight: inherit;
}

.fullScreenBanner h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: inherit;
}

button {
    margin-top: 0px;
    width: 200px;
    height: 50px;
    background: none;
    border: 2px solid var(--red);
    color: inherit;
    font-size: inherit;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: var(--red);
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5em 0;
}


#booking, #reviews  {
    background-color: white;
}

#booking .fullWidthContainer {
    width: 1000px;
    margin: auto;
    display: flex;
}

.section .title {
    width: 100%;
    text-align: center;
    padding: 0 0 1em 0;
}

.section .imageHolder {
    width: 450px;
    margin: auto;
}

.section .imageHolder img {
    width: 100%;
    margin: auto;
}

.section .imageHolder p {
    margin: 0;
    padding: 1em 0;
    font-size: 1em;
}

.section .textHolder {
    width: 450px;
    margin-right: 0 1em;
    padding: 0;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

#aboutMe h2 {
    margin: auto;
    font-weight: bolder;
    font-size: 1.5em;

}

#aboutMe.section {
    margin: auto;
    position: relative;
    border: 0;
}


#aboutMe .textHolder {
    font-size: smaller;
    text-align: left;
    max-width: 300px;
    margin: 0;
    margin-left: auto;
    background-color: white;
    border-radius: 2em 0 0 2em;
    padding: 40px;
}

#aboutMe .imageHolder
{
    max-width: 300px;
    height: 380px;
    overflow: hidden;
    margin: 0;
    margin-right: auto;
    border-radius: 0 2em 2em 0;
}

#reviews {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

#reviews a {
    font-size: smaller;

}

.section .review {
    width: 600px;
    margin: auto;
    padding: 5px 0;
}

.textHolder h2 {
    margin-top: 0;
}

.map {
    height: 500px;
    width: 100%;
    margin: auto;
    border: none;
}


#findUs {
    padding: 0;
    border: none;
}

.textHolder ul {
    margin: 0;
    padding-left: 0;
    list-style: none ;
}

.textHolder ul li {
    font-size: 1.2em;
    border-bottom: 1px solid rgb(237, 237, 237);
    margin: 10px 0;
    padding: 10px 0;
}

footer {
    padding: 25px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1em;
}

#contact {
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
}

#contact fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
}

#contact form .textBoxes {
    height: 100%;
    width: 380px;
    margin: auto;

}

input, textarea {
    font: inherit
}

#contact form input {
    font-size: 1.2em;
    width: 100%;
    padding: 11px 5px;
    margin: 5px 0;
    border: 1px solid rgb(219, 219, 219);
}

#contact form textarea {
    width: 410px;
    height: 135px;
    font-size: 1.2em;
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid rgb(219, 219, 219);
}

#contact form button {
    margin: 2em auto;
    border: 1px solid rgb(189, 189, 189);
}


#contact form button:hover {
    background-color: #cacaca;
    border: 1px solid #c4c4c4;
}




@media screen and (max-width: 1100px) {
    :root {
        --blur: 5px;
    }

    header nav li {
        margin: 10px;
    }

    .section {
        width: 100%;
        margin: auto;
        display: block;
    }

    .section .textHolder {
        width: 100%;
    }

    .section .imageHolder {
        width: 50%;
        min-width: 300px;
        margin: auto !important;
    }

    #aboutMe.section {
        height: auto;
        width: 100%;

    }

    #aboutMe .textHolder {
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        width: 60%;
        min-width: 300px;
        border-radius: 0;
    }
    
    #aboutMe .imageHolder {
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        width: 60%;
        min-width: 380px;
        border-radius: 0;
    }

    #aboutMe .imageHolder img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    

    #booking .fullWidthContainer {
        width: 90%;
        display: block;
        margin: auto;
        display: flex;
    }

    #booking h1 {
        font-size: 1em;
    }

    #booking h1.title {
        font-size: 2em;
    }

    #contact fieldset {
        display: block;
        text-align: none;
        width: 80%;
        margin: auto;
    }

    #contact form .textBoxes {
        margin: 0;
        width: 100%;
    }

    #contact form input {
        width: 100%;
    }

    #contact form textarea {
        width: 100%;
    }

    .section .review {
        width: 90%;
        max-width: 500px;
    }

    footer {
        margin-top: 2em;
    }

}

@media screen and (max-width: 700px) {
    header {
        height: 55px;
        width: 100%;
    }
    
    header nav {
        width: 100%;
        position: relative;
        margin: 0;
        margin-top: 15px;
    }
    
    header nav li {
        margin:3%;
        padding: 3px 0;
        font-size: 11px;
    }

    .section .review {
        width: 90%;
    }
}