@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --white: rgb(255, 255, 255);
    --red: rgb(255, 14, 14); 
    --blur: 8px;
    --grey: rgb(255, 255, 255);
}


html {
    scroll-behavior: smooth;
}


main {
    width: 100%;
    margin: auto;
}

main p {
    font-size: 1.3em;
}

#header, .section {
    scroll-margin-top: 80px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    color: var(--white);
    transition: 1s;
    background-color: #ffffff00;
    color: white;
}

header nav {
    margin: auto;
    text-align: center;
    width: 40%;
    text-transform: uppercase;
}

header nav li {
    display: inline;
    list-style: none;
    margin: 10%;
    font-size: smaller;
}

h1{
    font-weight: 100;
}

h2 {
    font-weight: 400;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none; 
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    background-color: var(--red)
}


a:hover:after { 
    width: 100%
}

.fullScreenBanner a:hover:after {
    width: 0;
}

#logo {
    height: 70px;
    margin: 5px;
}

#logo img {
    height: 100%;
    width: auto;
}

.fullScreenBanner {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    box-shadow: inset 0 0 200px black;
}

.fullScreenBanner img.background {
    width: 100%;
    filter: blur(var(--blur)) brightness(40%);
    -webkit-filter: blur(var(--blur)) brightness(40%);
}

.fullScreenBanner .content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
}

.fullScreenBanner img.logo {
    width: 300px;
    margin-bottom: 25px auto;
}

.fullScreenBanner h1 {
    font-size: 6em;
    padding: 0;
    margin: 40px;
    letter-spacing: 1px;
    font-weight: inherit;
}

.fullScreenBanner h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top:150px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: inherit;
}

 button {
    margin-top: 0px;
    width: 200px;
    height: 50px;
    background: none;
    border: 2px solid var(--red);
    color: inherit;
    font-size: inherit;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: var(--red);
}


.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3em 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}

#booking .fullWidthContainer {
    width: 1000px;
    margin: auto;
    display: flex;
}

.section .title {
    width: 100%;
    text-align: center;
    padding: 0 0 1em 0;
}

.section .imageHolder {
    width: 450px;
    margin: auto;
}
.section .imageHolder img {
    width: 100%;
    margin: auto;
}

.section .imageHolder p {
    margin: 0;
    padding: 1em 0;
    font-size: 1em;
    border: 1px solid var(--grey);
}

.section .textHolder {
    width: 450px;
    margin-right: 1em;
    padding: 1em 0;
    margin: auto;
    margin-top: 0;
    border: 1px solid var(--grey);
    text-align: center;
}

#aboutMe .textHolder {
    margin-right: 10px;
}

#aboutMe .imageHolder {
    margin-left: 10px;
}


#reviews {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

#reviews a {
    font-size: smaller;
   
}

.section .review {
    width: 600px;
    margin: auto;
    padding: 5px 0;
}

.textHolder h2 {
    margin-top: 0;
}

.map   {
    height: 500px;
    width: 100%;
    margin: auto;
}

#findUs {
    padding: 0;
}

.textHolder ul {
    margin: 0;
    padding-left: 0;
    list-style:none;
    text-align: center;
}
.textHolder ul li {
    font-size: 1.2em;
    border-bottom: 1px solid rgb(237, 237, 237);
    margin: 10px 0 ;
    padding: 10px 0;
}

footer {
    padding: 50px;
    text-align: center;
}

#contact {
    background-color: #e9e9e9;
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
}

#contact fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
}

#contact form .textBoxes {
    height: 100%;
    width: 380px;
    margin: auto;
}

#contact form input {
    font-size: 1.2em;
    width: 100%;
    padding: 11px 5px;
    margin: 5px 0;
    border: none;
}

#contact form textarea {
    width: 410px;
    height: 135px;
    font-size: 1.2em;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
}

#contact form button {
    margin: 2em auto;
    border: 1px solid rgb(189, 189, 189);
    
}


#contact form button:hover {
    background-color: #cacaca;
    border: 1px solid #c4c4c4;
}


@media screen and (max-width: 1100px) {
    :root {
        --blur: 5px;
      }
    
    .fullScreenBanner img.background {
        height: 100%;
        width: auto;
    }

    .section {
        width: 90%;
        margin: auto;
        display: block;
    }

    .section .textHolder {
        width: 100%; 
    }

    .section .imageHolder {
        width: 50%;
        min-width: 300px;
        max-width: 500px;
        margin: auto !important;
    }

}


@media screen and (max-width: 600px) { 
    header nav {
        display: none;
    }

    .section .review { 
        width: 90%;
    }
}