@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --white: rgb(255, 255, 255);
    --red: rgb(255, 14, 14);
    --blur: 8px;
    --grey: rgb(211, 211, 211);
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    margin: auto;
    background-color: rgb(240, 240, 240);
}

main p {
    font-size: 1.3em;
}

#header,
.section {
    scroll-margin-top: 60px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    color: var(--white);
    transition: 1s;
    background-color: #ffffff00;
    color: white;
    height: 65px;
}

header nav {
    margin: auto;
    text-align: center;
    width: 80%;
    text-transform: uppercase;
}

header nav li {
    display: inline;
    list-style: none;
    margin: auto 100px;
    padding: 0 20px;
    font-size: smaller;
    font-weight: 400;
}

header h1 {
    margin: 15px;
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: 2px;
    border-top: 4px solid var(--red);
}

header h1::after {
    height: 0px;
}

#menuIcon {
    display: none;
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 100;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    background-color: var(--red)
}

header h1 a:after {
    height: 0;
}


a:hover:after {
    width: 100%
}

.fullScreenBanner a:hover:after {
    width: 0;
}


#logo {
    height: 70px;
    margin: 5px;
}

#logo img {
    height: 100%;
    width: auto;
}

.fullScreenBanner {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.fullScreenBanner img.background {
    width: 100%;
    filter: blur(var(--blur)) brightness(30%);
    -webkit-filter: blur(var(--blur)) brightness(30%);
    transform: scale(1.1);
}

.fullScreenBanner .content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
}

.fullScreenBanner img.logo {
    width: 300px;
}

.fullScreenBanner h1 {
    font-size: 6em;
    padding: 0;
    margin: 40px;
    letter-spacing: 1px;
    font-weight: inherit;
}

.fullScreenBanner h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: inherit;
}

button {
    margin-top: 0px;
    width: 200px;
    height: 50px;
    background: none;
    border: 2px solid var(--red);
    color: inherit;
    font-size: inherit;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: var(--red);
    color: white;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}


#booking,
#reviews {
    background-color: white;
}

#booking .textHolder a:after {
    width: 0;
}

#booking h2 {
    font-weight: 400;
}


#booking .textHolder button {
    width: 100px;
    height: 40px;
    margin-top: 50px;
}

.fullWidthContainer {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.section .title {
    width: 100%;
    text-align: center;
    padding: 0 0 50px 0;
    margin: 0;
}

.section .imageHolder {
    width: 450px;
    margin: auto;
}

.section .imageHolder img {
    width: 100%;
    margin: auto;
}

.section .imageHolder p {
    margin: 0;
    padding: 1em 0;
    font-size: 1em;
}

.section .textHolder {
    width: 450px;
    margin-right: 0 1em;
    padding: 0;
    margin: auto;
    margin-top: 0;
    text-align: center;
}


#aboutMe h2 {
    margin: auto;
    font-weight: bolder;
    font-size: 1.5em;

}

#aboutMe .card {
    display: flex;
    margin: auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    background-color: white;
}

#aboutMe .card .textHolder {
    padding: 2em;
    text-align: left;
    font-size: 12px;
    width: 50%;
}

#aboutMe .card .textHolder h2{
    font-size: 2em;
}

#aboutMe .card .imageHolder {
    height: 100%;
    width: 50%;
}

#reviews {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

#reviews a {
    font-size: smaller;

}

.section .review {
    width: 600px;
    margin: auto;
    padding: 5px 0;
}

.textHolder h2 {
    margin-top: 0;
}

.map {
    height: 500px;
    width: 100%;
    margin: auto;
    border: none;
}


#findUs {
    padding: 0;
    border: none;
}

.textHolder ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.textHolder ul li {
    font-size: 1.2em;
    border-bottom: 1px solid var(--red);
    margin: 10px 0;
    padding: 10px 0;
}

footer {
    padding: 25px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1em;
}

#contact {
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
}

#contact fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
}

#contact form .textBoxes {
    height: 100%;
    width: 380px;
    margin: auto;

}

input,
textarea {
    font: inherit
}

#contact form input {
    font-size: 1.2em;
    width: 100%;
    padding: 11px 5px;
    margin: 5px 0;
    border: 1px solid rgb(219, 219, 219);
}

#contact form textarea {
    width: 410px;
    height: 135px;
    font-size: 1.2em;
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid rgb(219, 219, 219);
}

#contact form button {
    margin: 2em auto;
    border: 1px solid rgb(189, 189, 189);
}


#contact form button:hover {
    background-color: #cacaca;
    border: 1px solid #c4c4c4;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(163, 0, 0);
}

@media screen and (max-width: 1500px) {
    header nav li {
        margin: auto 50px;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --blur: 5px;
    }

    header nav li {
        margin: 10px;
    }

    .section {
        width: 100%;
        margin: auto;
        display: block;
    }

    #aboutMe.section {
        height: auto;
        width: 100%;

    }

    .fullWidthContainer {
        width: 95%;
    }

    #aboutMe .textHolder {
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        width: 60%;
        min-width: 300px;
        border-radius: 0;

    }

    #aboutMe .imageHolder {
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        width: 60%;
        min-width: 300px;
        border-radius: 0;
    }

    #aboutMe .imageHolder img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }


    #booking h1 {
        font-size: 1em;
    }

    #booking h1.title {
        font-size: 2em;
    }

    #booking .textHolder {
        width: 50%;
    }

    #contact fieldset {
        display: block;
        text-align: none;
        width: 80%;
        margin: auto;
    }

    #contact form .textBoxes {
        margin: 0;
        width: 100%;
    }

    #contact form input {
        width: 100%;
    }

    #contact form textarea {
        width: 100%;
    }

    .section .review {
        width: 90%;
        max-width: 500px;
    }

    footer {
        margin-top: 2em;
    }

}

@media screen and (max-width: 800px) {


    .fullWidthContainer {
        display: block;
    }

    header {
        height: auto;
        width: 100%;
        padding: 0;
        display: block;
        position: fixed;
        top: -250px;
        transition: 1s;
        background-color: black;
        padding-bottom: 80px;
    }

    #menuIcon {
        position: fixed;
        display: block;
        top: 7.5px;
        right: 15px;
        height: 50px;
        width: 50px;
        z-index: 3;
        transition: 1s;
    }

    #menuIcon img {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
        transition: 1s;
    }

    header nav {
        width: 100%;
        position: relative;
        margin: 0;
        margin-top: 0;
        display: block;
        text-align: left;
        padding: 0;
    }

    header nav li {
        display: block;
        padding: 0;
        font-size: 1em;
        margin: 2em 1em;
        margin: 2em;
    }

    header h1 {
        position: absolute;
        bottom: 0;
        left: 10px;

    }

    .section .review {
        width: 90%;
    }

    #reviews {
        display: block;
        text-align: center;
        font-size: 1em;
    }

    #aboutMe .card {
        display: block;
        height: auto;
        width: 90%;
    }

    #aboutMe .card .textHolder{
        padding: auto;
        width: auto;
        height: auto;
        font-size: 14px;
    }
    #aboutMe .card .imageHolder {
        width: 100%;
        height: 300px;
        position: relative;
    }

    #aboutMe .card .imageHolder img {
        height: auto;
        width: 100%;
        margin: auto;
        display: block;

    }

    #booking .textHolder {
        width: 90%;
        border-top: 1px solid var(--grey);
        border-bottom: 1px solid var(--grey);
        padding: 4em 0;
    }

    #booking .textHolder button {
        width: 200px;
        height: 60px;
        margin-top: 20px;
    }
    
    /* width */
::-webkit-scrollbar {
    width: 0px;
}


}
